# Python
**/__pycache__/
*.pyc

# Node / Frontend
**/node_modules/
**/dist/
**/dist-ssr/
*.local

# Logs
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
.venv/
