/* Wrapper que tem exatamente o tamanho da imagem */
.world-wrapper {
    position: relative;
    display: inline-block; /* tamanho do wrapper = tamanho da imagem */
    background-color: black; /* borda preta */
}

/* Imagem ocupa 100% do wrapper */
.world-image {
    display: block;
}
