html, body {
    margin: 0;
    padding: 0;
    background-color: black; 
}

.world-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
    border: 5px solid black; 
    background-color: black;
    padding-top: 1vh;      
    padding-bottom: 1vh;   
}

.world-image {
    display: block;
    width: 98vw;     
    height: auto;      
}