html, body {
    background-color: rgb(255, 255, 255); 
}

.world-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
    border: 5px solid rgb(255, 255, 255); 
    background-color: rgb(255, 255, 255);
    padding-top: 1vh;      
    padding-bottom: 1vh;   
}

.world-image {
    display: block;
    width: 98vw;     
    height: auto;      
}