html, body {
    margin: 0;
    padding: 0;
    background-color: black; /* borda preta */
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* garante que nada vaze da tela */
    background-color: black; /* borda preta */
}


