html, body {
    background-color: rgb(0, 0, 0); 
}

.world-wrapper {
    position: relative;
    display: flex;
    justify-content: center; 
}

.world-image {
    display: block;
    width: auto;
    height: auto;
}

.world-canvas {
    position: relative;
    transform-origin: center center;
    max-width: 98vw;
}
